mboutput/0600_4_0641_1*
mboutput/0593_8_0661_1*
data-kitti/
__pycache__/
*.lprof
*.pyc
models/*.pyc
trained*
output*
*.npy
.ipynb_checkpoints/*
.ipynb_checkpoints
weights/
*.ipynb
data-HRRS/
mboutput/*.npy
mboutput/CrusadeP/*.pfm
mboutput/CrusadeP/*.txt
*.zip
run.sh
