__pycache__/
*.lprof
*.pyc
models/*.pyc
trained*
output*
*.npy
.ipynb_checkpoints/*
.ipynb_checkpoints
weights/
*.ipynb
data-HRRS/
mboutput/*.npy
mboutput/CrusadeP/*.pfm
mboutput/CrusadeP/*.txt
*.zip
run.sh
